// Processes
process {
    withLabel: 'fastq_subset' { cpus = 4; memory = 4.GB }
    withLabel: 'alignment' { cpus = 8; memory = 8.GB }
    withLabel: 'index' { cpus = 2; memory = 2.GB }
    withLabel: 'gatk_dict' { cpus = 2; memory = 2.GB }
    withLabel: 'gatk_count' { cpus = 2; memory = 2.GB }
    }

timeline {
  enabled = true
  file = "${params.outdir}/execution/timeline.html" 
}
report {
  enabled = true
  file = "${params.outdir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/execution/pipeline.svg"
}


trace.overwrite = true
dag.overwrite = true
process.executor = 'slurm'

// Gcloud
google.zone = 'europe-west1'

// Singularity
singularity {
    enabled = true
    autoMounts = true
}
