// Processes
process {
    withLabel: 'converting' { cpus = 24; memory = 60.GB }
    withLabel: 'fastq_subset' { cpus = 12; memory = 32.GB }
    withLabel: 'alignment' { cpus = 24; memory = 32.GB }
    withLabel: 'index' { cpus = 2; memory = 2.GB }
    withLabel: 'gatk_dict' { cpus = 2; memory = 24.GB }
    withLabel: 'gatk_count' { cpus = 24; memory = 60.GB }
    withLabel: 'downstream_analysis' { cpus = 4; memory = 24.GB }
    }

executor {
  name = 'local'
  cpus = 128
}


timeline {
  enabled = true
  file = "${params.outdir}/execution/timeline.html" 
}
report {
  enabled = true
  file = "${params.outdir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/execution/pipeline.svg"
}

trace.overwrite = true
dag.overwrite = true

 profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u 0'
        //docker.runOptions = '-v /mnt/disks/outdir/results_scram_02/ref:/opt/ref:ro'
        docker.runOptions = "-v ${params.outdir}/ref:/opt/ref:ro"

    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    lifesciences {
        process.executor = "google-lifesciences"
        google.project = "brcanalysis"
        google.lifeSciences.bootDiskSize = "50.GB"
        google.lifeSciences.preemptible = false
        google.lifeSciences.keepAliveOnFailure = false
        google.zone = "europe-west1-b"
    }
    googlebatch {
        process.executor = "google-batch"
        google.project = "brcanalysis"
        google.location = "europe-west1"
        google.batch.bootDiskSize = "10.GB"
    }
    workbench {
        google.zone = "europe-west1-b"
        google.location = "europe-west1"
    }
    biocluster {
        process.executor = "slurm"
    } 
    wave {
        wave.enabled = true
        wave.strategy = ['container','dockerfile']
    }
    fusion {
        fusion.enabled = true
        process.scratch = false
    }
    standard {
        resume = true
    }
 }