// Processes
process {
    withLabel: 'index' { cpus = 2; memory = 2.GB }
    withLabel: 'bam_bwa' { cpus = 8; memory = 8.GB }
    }

timeline {
  enabled = true
  file = "${params.outdir}/execution/timeline.html" 
}
report {
  enabled = true
  file = "${params.outdir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/execution/pipeline.svg"
}

process.executor = 'slurm'

// Gcloud
google.zone = 'europe-west1'

// Singularity
singularity {
    enabled = true
    autoMounts = true
}
